.mycc-swipe {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mycc-swipe > .mycc-swipe__flex-container {
  display: flex;
  justify-content: center;
  touch-action: pan-y;
  user-select: none;
  width: 100%;
}

.mycc-swipe > .mycc-swipe__flex-container > .mycc-swipe__items-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mycc-swipe > .mycc-swipe__flex-container .mycc-swipe__item {
  float: left;
}

.mycc-swipe > .mycc-swipe__flex-container .mycc-swipe__item:first-child {
  margin-left: 0 !important;
}

.mycc-swipe > .mycc-swipe__flex-container .mycc-swipe__item:last-child {
  margin-right: 0 !important;
}
