.myy-carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.myy-carousel > .myy-carousel__flex-container {
  display: flex;
  justify-content: center;
  touch-action: pan-y;
  user-select: none;
  width: 100%;
}

.myy-carousel > .myy-carousel__flex-container > .myy-carousel__arrow-button {
  z-index: 1;
}

.myy-carousel > .myy-carousel__flex-container > .myy-carousel__arrow-button > .svg-icon > svg {
  height: 32px;
  width: 32px;
}

.myy-carousel > .myy-carousel__flex-container > .myy-carousel__items-container-wrapper > .myy-carousel__items-container > .myy-carousel__item {
  float: left;
  vertical-align: top;
}

.myy-carousel > .myy-carousel__flex-container > .myy-carousel__items-container-wrapper > .myy-carousel__items-container > .myy-carousel__item:last-child {
  margin-right: 0 !important; /* precisa do important pra sobrepor o inline style */
}

