.myy-carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.myy-carousel > .myy-carousel__flex-container {
  display: flex;
  width: 100%;
}

.myy-carousel > .myy-carousel__flex-container > .myy-carousel__arrow-button > .svg-icon > svg {
  height: 32px;
  width: 32px;
}

.myy-carousel > .myy-carousel__flex-container > .myy-carousel__items-container-wrapper {
  overflow: hidden;
}

.myy-carousel > .myy-carousel__flex-container > .myy-carousel__items-container-wrapper > .myy-carousel__items-container > .myy-carousel__item {
  display: inline-block;
  vertical-align: top;
}
