.carousel-container {
  height: 0;
  padding-bottom: 58.3%;
  position: relative;
  width: 100%;
}

.carousel-container > .carousel-slider {
  display: block;
  position: static;
  user-select: none;
  touch-action: pan-y;
}

.carousel-container > .carousel-slider > .carousel-list {
  display: block;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
}

.carousel-container > .carousel-slider > .carousel-list > .carousel-track {
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
}

.carousel-container > .carousel-slider > .carousel-list > .carousel-track > .carousel-item {
  float: left;
  height: 100%;
  position: relative;
}